<section id="cd-timeline" style="margin-top: 0em">

	<div class="cd-timeline-block">
		<div class="cd-timeline-img">
			{{!-- <img src="assets/img/cd-icon-picture.svg" alt="Picture"> --}}
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<p>Item added to the inventory</p>
			{{#link-to "receipts.receipt" 1 class="cd-read-more"}}Checkout the Receipt Info{{/link-to}}
			<span class="cd-date">Feb 15</span>
		</div> <!-- cd-timeline-content -->
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
			<img src="assets/img/cd-icon-picture.svg" alt="Picture">
		</div> <!-- cd-timeline-img -->

		<div class="cd-timeline-content">
			<h2>Title of section 1</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
			<a href="#0" class="cd-read-more">Read more</a>
			<span class="cd-date">Jan 14</span>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->

  <div class="cd-timeline-block">
 		<div class="cd-timeline-img cd-location">
 			<img src="assets/img/cd-icon-picture.svg" alt="Picture">
 		</div> <!-- cd-timeline-img -->

 		<div class="cd-timeline-content">
 			<h2>Title of section 1</h2>
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
 			<a href="#0" class="cd-read-more">Read more</a>
 			<span class="cd-date">Jan 14</span>
 		</div> <!-- cd-timeline-content -->
 	</div> <!-- cd-timeline-block -->

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
 			<img src="assets/img/cd-icon-picture.svg" alt="Picture">
 		</div> <!-- cd-timeline-img -->

 		<div class="cd-timeline-content">
 			<h2>Title of section 1</h2>
 			<span class="cd-date">August 24</span>
 		</div> <!-- cd-timeline-content -->
	</div>

	<div class="cd-timeline-block">
		<div class="cd-timeline-img cd-location">
 			<img src="assets/img/cd-icon-picture.svg" alt="Picture">
 		</div> <!-- cd-timeline-img -->

 		<div class="cd-timeline-content">
 			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, optio, dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? Iste voluptatibus minus veritatis qui ut.</p>
 			<span class="cd-date">Sept 01</span>
 		</div> <!-- cd-timeline-content -->
	</div>
	<div class="cd-timeline-block">
		<!-- ... -->
	</div>
	<div class="cd-timeline-block">
		<!-- ... -->
	</div>
	<div class="cd-timeline-block">
		<!-- ... -->
	</div>
</section>
