<div class="grid-frame vertical">
  <div class="primary shrink title-bar" style="margin-bottom: 1rem;">
    <div class="center title" title="Spending/Receipt Management System">RMS</div>
    <span class="left"><a zf-open="projects">Menu</a></span>
    <span class="right"><a zf-open="profile">Settings</a></span>
  </div>
  {{outlet}}
</div>
