
  <div class="small-6 columns" >

    <table data-pie-id="my-cool-pie-chart" data-options='{"donut":"true"}'>
      <thead>
        <tr>
          <th width="100">Name</th>
          <th width="50">Price</th>
          <th>Reason</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><li data-value="36">Pepperoni</li></td>
          <td>4.99</td>
          <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
        </tr>
        <tr>
          <td><li data-value="14">Sausage</li></td>
          <td>1.45</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        </tr>
        <tr>
          <td><li data-value="8">Cheese</li></td>
          <td>67.89</td>
          <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
        </tr>
      </tbody>
    </table>

  </div>
  <div class="small-6 columns" >

    <div id="my-cool-pie-chart"></div>



  </div>
