<div class="card">
  {{#link-to "receipts.receipt" receipt}}
  <div class="card-divider">
    Card Title {{receipt}}
  </div>
  {{/link-to}}
  <div class="card-section">
    <p>Stuff I must get done!</p>
  </div>
</div>
